* {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

section {
  margin-top: 80px;
  padding: 50px 20px 20px 20px;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff6347;
}

input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px;
}

input[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background-color: #ff6347;
}

#header-img {
  height: 50px;
}

#video-section {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

#video {
  max-width: 800px;
  width: 70%;
}

#contact,
#features,
#pricing {
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  form {
    align-items: center;
    flex-direction: column;
  }

  input[type="email"],
  input[type="submit"] {
    margin: 5px 0;
    width: 100%;
  }

  #video {
    width: 100%;
  }
}
